<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
{{ if .Site.GoogleAnalytics }}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5ZMD7C285E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5ZMD7C285E');
</script>
{{ end }}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
{{ if eq .IsHome false }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
<title>{{ .Site.Params.Info.homeTitle }}</title>
{{ end }}
{{ if .Site.Params.Info.enableSocial }}
{{- partial "social/opengraph" . -}}
{{ end }}
{{ if .Site.Params.rss }}
{{ end }}

{{ $cssMain := resources.Get "css/style.css" | minify }}
<link rel="stylesheet" href="{{ $cssMain.Permalink }}" />

{{ $postTinySliderScriptEnabled := eq .Params.tinySlider true }}
{{ $blogTinySliderScriptVal := .Scratch.Get "tinySlider" }}
{{ $blogTinySliderScriptEnabled := eq $blogTinySliderScriptVal true }}
{{ if or $postTinySliderScriptEnabled $blogTinySliderScriptEnabled }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css" />
{{ end }}

{{ $cssCustom := resources.Get "css/custom.css" | minify }}
<link rel="stylesheet" href="{{ $cssCustom.Permalink }}" />

<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="canonical" href="{{ .Permalink }}" />
</head>
<body>
